/ModelMockup/build/
/ModelMockup/nbproject/private/
/int303/ModelMockup/build/
/int303/ModelMockup/nbproject/private/
/int303/MyFirstWebApp/dist/
/int303/Practise_303/nbproject/private/
/int303/Cinema/nbproject/private/