<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>Authentication</filter-name>
        <filter-class>filter.Authentication</filter-class>
    </filter>
    <filter>
        <filter-name>CheckLogin</filter-name>
        <filter-class>filter.CheckLogin</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CheckLogin</filter-name>
        <servlet-name>MovieListServlet</servlet-name>
        <servlet-name>ActivateServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MovieListServlet</servlet-name>
        <servlet-class>servlet.MovieListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActivateServlet</servlet-name>
        <servlet-class>servlet.ActivateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MovieListServlet</servlet-name>
        <url-pattern>/MovieList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActivateServlet</servlet-name>
        <url-pattern>/Activate</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
